.b-title {
	text-decoration: none;
	color: #ffffff;
	font-size: 130%;
}

.b-transparent {
	opacity: 0.6;
}

.sticky {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.intext-left {
  float: left;
  width: 30%;
  border: 6px solid #ffffff;
  margin-right: 3%;
  margin-bottom: 1em;
}

.intext-right {
  float: right;
  width: 30%;
  border: 6px solid #ffffff;
  margin-left: 3%;
  margin-bottom: 1em;
}

.tabbed {
  margin-right: 3px;
  max-width: 32%;
}

.autosize {
    grid-auto-rows: max-content !important;
}
