.theme-content {
    background-color: rgb(255, 255, 255, 0.7);
    color: #331a00;
}

.theme100 {
    background-color: rgb(255, 255, 255, 0.7);
    color: #331a00;
}

.theme95 {
    background-color: rgb(255, 243, 230);
    color: #331a00;
}

.theme90 {
    background-color: rgb(255, 230, 204);
    color: #331a00;
}

.theme85 {
    background-color: rgb(255, 218, 179);
    color: #331a00;
}

.theme80 {
    background-color: rgb(255, 206, 153);
    color: #331a00;
}

.theme75 {
    background-color: rgb(255, 193, 128);
    color: #331a00;
}

.theme70 {
    background-color: rgb(255, 181, 102);
    color: #000000;
}

.theme65 {
    background-color: rgb(255, 169, 77);
    color: #000000;
}

.theme60 {
    background-color: rgb(255, 156, 51);
    color: #000000;
}

.theme55 {
    background-color: rgb(255, 144, 26);
    color: #000000;
}

.theme50 {
    background-color: rgb(255, 132, 0);
    color: #000000;
}

.theme45 {
    background-color: rgb(230, 119, 0);
    color: #ffffff;
}

.theme40 {
    background-color: rgb(204, 105, 0);
    color: #ffffff;
}

.theme35 {
    background-color: rgb(179, 92, 0);
    color: #ffffff;
}

.theme30 {
    background-color: rgb(153, 79, 0);
    color: #ffffff;
}

.theme25 {
    background-color: rgb(128, 66, 0);
    color: #ffffff;
}

.theme20 {
    background-color: rgb(102, 53, 0);
    color: #ffffff;
}

.theme15 {
    background-color: rgb(77, 40, 0);
    color: #ffffff;
}

.theme10 {
    background-color: rgb(51, 26, 0);
    color: #ffffff;
}

.theme5 {
    background-color: rgb(26, 13, 0);
    color: #ffffff;
}

.theme0 {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

