body {
    background-image: url("../images/wood.jpg");
}

#page {
    max-width: 1200px;
    margin: auto;
    color: #111111;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 140%;
}

header {
    background-color: #331a00;
    color: #ffe6cc;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px;
}

footer {
    background-color: #331a00;
    color: #ffe6cc;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 400%;
}

.title a {
    text-decoration: none;
    color: #fff3e6;
}

.subtitle {
    text-align: center;
	font-size: 200%;
}

#menu {
    background-color: #000000;
    color: #fff3e6;
    height: 40px;
}

#menu a:link, a:visited {
	text-decoration: none;
    color: #fff3e6;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    float: left;
}

#menu a:hover, a:active {
    color: #331a00;
    background-color: #ff9c33;
}

#main {
    background-color: #ffffff;
}

#main h1 {
    padding-left: 30px;
    padding-top: 10px;
}

.iframe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.sec-content a {
    color: 	rgb(255, 132, 0);
    text-decoration: none;
}

.sec-title {
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    text-decoration: none;
}

.line {
    border-top: 2px solid black;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: -10px; 
    margin-right: -10px;
    justify-content: center;
}

.card {
    flex-basis: 30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 2px solid black;
    text-align: center;
}

.illustrated {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image {
    flex-basis: 40%;
}

.rtext {
    flex-basis: 60%;
    padding-left: 20px;
    text-align: justify;
}

.ltext {
    flex-basis: 60%;
    padding-right: 20px;
    text-align: justify;
}

.credits {
    font-size: 80%;
}

.credits a {
    color: 	rgb(255, 132, 0);
}

.framed {
    border: 1px solid black;
}

.centered {
    text-align: center;
}

.image-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.timeline {
    display: flex;
}

.timeline-divider {
    border-right: 2px solid black;
    left: 16px;
    position: absolute;
    top: 0px;
    height: 100%;
}

.timeline ul {
    list-style-image: url('../images/circle.png');
}

.timeline li {
    margin-bottom: 8px;
}

.left-text {
    float: left;
    width: 60%;
    height: 60px;
}

.right-image {
    float: right;
    width: 30%;
    height: 60px;
}

